@import "../assets/colors.scss";
@import "../assets/mixins.scss";

main {
    padding: 0 5%;
    background-color: $dark-gray;
    color: $white;
    height: 100%;
    min-height: 100vh;

    .intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 75%;
        margin: 0 auto 50px;
        text-align: left;
        padding-top: 50px;
        @include Tablet {
            width: 95%;
        }
        .intro-heading {
            width: 400px;
            span {
                color: $baby-blue;
            }
            @include Tablet {
                width: 95%;
                text-align: center;
            }
            h1 {
                font-size: 40px;
            }
        }
    }

    form {
        padding-top: 50px;
        @include Tablet {
            width: 90%;
        }
        button {
            background-color: $baby-blue;
            display: block;
            color: $white;
            margin: 20px auto;
            padding: 15px 40px;
            font-size: 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            @include Tablet {
                margin: 29px auto;
                padding: 25px 65px;
                font-size: 30px;
            }
            @include Phone {
                padding: 15px 40px;
            }
        }

        .form-input {
            height: 20px;
            width: 230px;
            border-radius: 3px;
            border: none;
            padding: 10px;
            outline: none;
            font-size: 25px;
            margin: 5px;
            @include Tablet {
                width: 90%;
                height: 40px;
            }
        }
    }
    padding: 0 5%;
    .issue {
        padding: 20px;
        background-color: $white;
        color: #282828;
        width: 65%;
        margin: 10px auto;
        border-radius: 5px;

        @include Small-Laptop {
            width: 80%;
        }
    }

    .error {
        font-size: 25px;
    }
}
