@import "../../../assets/colors.scss";

nav {
    width: fit-content;
    margin: auto;
    padding: 20px;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0;
        li {
            cursor: pointer;
            padding: 5px 13px;
            border: 1px solid $white;
            margin: 0 10px 13px;
        }
        .active {
            color: $baby-blue;
            border: 2px solid $baby-blue;
        }
    }
}
